@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.GRUPO_INVESTIGACION>

@{

    ViewBag.Title = "Grupos de Investigacion";
    WebGrid grid = new WebGrid(Model);
}
<div>
    <h2>Grupos de Investigacion</h2>

    @if (!string.IsNullOrEmpty(ViewBag.Mensaje) && ViewBag.Mensaje.Equals("No se han encontrado registros con el dato indicado, por favor intentelo de nuevo"))
    {
        <script> mensajeNoUsuarios(); </script>
    }
    
    @using (Html.BeginForm("Index", "GruposInvestigacion"))
    {
        <p>
            Activo @Html.RadioButton("estado", "Activo", true) Inactivo @Html.RadioButton("estado", "Inactivo") @Html.DropDownList("filtroBusquedaGInvestigacion", ViewBag.filtroBusqueda as SelectList) Palabra a Buscar: @Html.TextBox("valorbusqueda")
            <input type="submit" value="Buscar" />

        </p>
    }

    @grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {
            grid.Column("CODIGOGRUPOINVESTIGACION",header:"Codigo"),
            grid.Column("NOMBREGRUPOINVESTIGACION",header:"Nombre"),
            grid.Column("DESCRIPCIONGRUPOINVESTIGACION",header:"Descripcion"),
            
            grid.Column("",header:"Opciones",
                format: @<text>
                @Html.ActionLink("Editar", "ModificarGrupoInvestigacion", new { idGinvestigacion = item.IDENTIFICADORGRUPOINVES }) |
                @Html.ActionLink("Detalles", "VisualizarGrupoInvestigacion", new { idGinvestigacion = item.IDENTIFICADORGRUPOINVES }) |
                @Html.ActionLink("Eliminar", "EliminarGrupoInvestigacion", new { idGinvestigacion = item.IDENTIFICADORGRUPOINVES }, new { onclick = "return confirm('Comfirma que desea eliminar el grupo de investigación?')" })
                </text>
            )
        })

    <div>@TempData["Mensaje"]</div>


    <p>
        @Html.ActionLink("Registrar Grupo de Investigacion", "RegistrarGrupoInvestigacion")
    </p>
</div>