@model SIFIET.GestionContenidos.Datos.Modelo.CONTENIDO

@{
    ViewBag.Title = "VisualizarContenido";
}
<div>
    @using (Html.BeginForm("BuscarContenido", "Home", FormMethod.Get))
    {
        <p>
            Buscar: @Html.TextBox("nombreContenido")
            <input type="submit" value="Buscar" />
        </p>
    }
</div>
<div>
    <br/>
    @{
        DateTime fecha = DateTime.ParseExact(Model.FECHACREACIONCONTENIDO, "dd-MM-yyyy", null);
    }
    <strong> @fecha.ToString("D") </strong>
    <div class="fecha-contenido">
        <h4>@Html.DisplayFor(model => model.TITULOCONTENIDO)</h4>
    </div>    
    <strong> Autor: </strong> @Html.DisplayFor(model => model.autorContenido)
    <hr />
    <strong> Descripción </strong>
    <br/>
    @Html.DisplayFor(model => model.DESCRIPCIONCONTENIDO)
    <br />
    <br />
    <strong> Contenido </strong>
    @Html.DisplayFor(model => model.CUERPOCONTENIDO)
    <br/>
    @foreach (var atributo in ViewBag.ListaAtributos)
    {
        <dt>
            @atributo.NOMBREATRIBUTO
        </dt>
        <dd>
            @if (((string)atributo.TIPOATRIBUTO).Equals("image"))
            {
                <img src="@atributo.dato" height="200px" width="200px" />
            }
            else
            {
                @atributo.dato
            }
        </dd>
    }
    <hr />
    <strong>Publicado en categoría: </strong> @Html.DisplayFor(model => model.NombreCategoria)

</div>



