@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.PLANESTUDIO>

@{
    ViewBag.Title = "Planes de Estudio";
    WebGrid grid = new WebGrid(Model);
}

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <fieldset>
        <legend>Buscar Plan de Estudio</legend>
        @if (ViewBag.estado == "Activo")
        {
            <input type="radio" name="estado" value="Activo" checked="checked" /> <label>Activos</label>
            <input type="radio" name="estado" value="Inactivo"> <label>Inactivos</label>
        }
        else
        {
            <input type="radio" name="estado" value="Activo"> <label>Activos</label>
            <input type="radio" name="estado" value="Inactivo" checked="checked" /> <label>Inactivos</label>
        }
        Campo a buscar:

        <select id="campo" name="campo">
            @if (ViewBag.campo == "Programa")
            {
                <option>Nombre</option>
                <option selected="selected">Programa</option>

            }
            else
            {
                <option>Nombre</option>
                <option>Programa</option>
            }

        </select>
        <input type="text" name="busqueda" value="@ViewBag.busqueda" />
        <input type="submit" value="Buscar" />
    </fieldset>
}
<br />
@grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {

            grid.Column("NOMBREPLANESTUDIOS",header:"Nombre"),
            grid.Column("DESCRIPCIONPLANESTUDIOS",header:"Descripción"),
            grid.Column("FECHAINICIOPLANESTUDIOS",header:"Fecha Inicio"),
            grid.Column("FECHAFINPLANESTUDIOS",header:"Fecha Fin"),
            grid.Column("PROGRAMA.NOMBREPROGRAMA",header:"Programa"),
            grid.Column("",header:"Opciones",
                format: @<text>
                @Html.ActionLink("Editar", "EditarPlanEstudio", new { idPlanEstudio = item.IDENTIFICADORPLANESTUDIOS }) |
                @Html.ActionLink("Visualizar", "VisualizarPlanEstudio", new { idPlanEstudio = item.IDENTIFICADORPLANESTUDIOS }) |
                @Html.ActionLink("Eliminar", "EliminarPlanEstudio", new { idPlanEstudio = item.IDENTIFICADORPLANESTUDIOS }, new { onclick = "return confirmarEliminarPlanEstudio()" })
                </text>
                )
        })

<p>
    @Html.ActionLink("Agregar", "RegistrarPlanEstudio")
</p>
<h3> @ViewBag.Resultado </h3>