@model SIFIET.GestionProgramas.Datos.Modelo.PLANESTUDIO

@{
    ViewBag.Title = "Nuevo Plan de Estudios";
}

<h2>Nuevo Plan de Estudios</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nuevo Plan de Estudios</legend>        

        <div class="editor-label">
            @Html.LabelFor(model => model.NOMBREPLANESTUDIOS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NOMBREPLANESTUDIOS)
            @Html.ValidationMessageFor(model => model.NOMBREPLANESTUDIOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CODIGOPLANESTUDIOS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CODIGOPLANESTUDIOS)
            @Html.ValidationMessageFor(model => model.CODIGOPLANESTUDIOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRIPCIONPLANESTUDIOS)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.DESCRIPCIONPLANESTUDIOS)
            @Html.ValidationMessageFor(model => model.DESCRIPCIONPLANESTUDIOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHAINICIOPLANESTUDIOS)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FECHAINICIOPLANESTUDIOS, new { type = "date" })           
            @Html.ValidationMessageFor(model => model.FECHAINICIOPLANESTUDIOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FECHAFINPLANESTUDIOS)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FECHAFINPLANESTUDIOS, new { type = "date" })
            @Html.ValidationMessageFor(model => model.FECHAFINPLANESTUDIOS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDENTIFICADORPROGRAMA, "Programa Academico:")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IDENTIFICADORPROGRAMA", "Escoja el programa")
            @Html.ValidationMessageFor(model => model.IDENTIFICADORPROGRAMA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ESTADOPLANESTUDIOS)
        </div>
        <div class="editor-field">
            Activo @Html.RadioButtonFor(model => model.ESTADOPLANESTUDIOS, "Activo", new { Checked = "checked" })
            Inactivo @Html.RadioButtonFor(model => model.ESTADOPLANESTUDIOS, "Inactivo")
            @Html.ValidationMessageFor(model => model.ESTADOPLANESTUDIOS)

        </div> 
        <br />
        <h4>Agregar Asignaturas</h4>
        <hr />
        <div class="editor-label">
            @Html.Label("Semestre")
        </div>
        <div class="editor-field">
            <select name="semestre">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
        </div>
        <div class="editor-label">
            @Html.Label("Asignatura")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Asignaturas", "Elige una Asignatura")
        </div>
        <div>
            <input type="button" name="adicionar" value="Adicionar" />
        </div>
        <h4>Lista de Asignaturas</h4>
        <div>
            <table id="Tabla_Asignaturas">
                <tr><th>Semestre</th><th>Materia</th><th>Quitar</th></tr>
                <tbody>
                    <tr></tr>
                </tbody>
                
            </table>
        </div>
        <div>
            <p>
                <input type="submit" value="Guardar" onclick="return comfirmacionPlanEstudio()" />
                <a href="Index" onclick="return confirm('Confirma que desea cancelar la accion')">Cancelar</a>
            </p>
        </div>
    </fieldset>
    
    
}

<h3> @ViewBag.ResultadoOperacion </h3>





