<script type="text/javascript">
    $(document).ready(function() {
        $('#IDENTIFICADORSALON').change(function() {
            var idSalon = $(this).val();
            $.getJSON("ObtenerListaDias", { id: idSalon },
                function(myData) {
                    var select = $('#DIAFRANJA');
                    select.empty();
                    $.each(myData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text,
                        }));
                    });
                });
        });
    });
    $(document).ready(function () {
        $('#DIAFRANJA').change(function () {
            var idDia = $(this).val();
            var idSalon = $('#IDENTIFICADORSALON').val();
            $.getJSON("ObtenerListaHoraInicio", { dia: idDia, idSalon:idSalon },
                function (myData) {
                    var select = $('#HORAINICIOFRANJA');
                    select.empty();
                    $.each(myData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text,
                        }));
                    });
                });
        });
    });
    $(document).ready(function () {
        $('#HORAINICIOFRANJA').change(function () {
            var idDia = $('#DIAFRANJA').val();
            var idSalon = $('#IDENTIFICADORSALON').val();
            var horaInicio = $('#HORAINICIOFRANJA').val();
            $.getJSON("ObtenerListaHoraFin", { dia: idDia, idSalon: idSalon, horaInicio:horaInicio },
                function (myData) {
                    var select = $('#HORAFINFRANJA');
                    select.empty();
                    $.each(myData, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text,
                        }));
                    });
                });
        });
    });
</script>

    @Html.ValidationSummary(true)
   @Html.Hidden("idCurso", ViewData["idCurso"])
    <div>
        <label>Seleccionar Salon: </label>
    </div>
    <div>
        @Html.DropDownList("IDENTIFICADORSALON", new SelectList(ViewBag.ListaSalones as System.Collections.IEnumerable, "IDENTIFICADORSALON", "NOMBRESALON"), "---seleccionar salon--", new { id = "IDENTIFICADORSALON" })
    </div>
    <div>
        <label>Seleccionar Dia:</label>
    </div>
    <div>
        @Html.DropDownList("DIAFRANJA", new SelectList(Enumerable.Empty<SelectListItem>(), "IDENTIFICADORFRANJA", "DIAFRANJA"), "---Dia---", new { id = "DIAFRANJA" })
    </div>
    <div>
        <label>Seleccionar Hora Inicio:</label>
    </div>
    <div>
        @Html.DropDownList("HORAINICIOFRANJA", new SelectList(Enumerable.Empty<SelectListItem>(), "IDENTIFICADORFRANJA", "HORAINICIOFRANJA"), "---Hora de Inicio---", new { id = "HORAINICIOFRANJA" })
    </div>
    <div>
        <label>Seleccionar Hora Fin:</label>
    </div>
    <div>
        @Html.DropDownList("HORAFINFRANJA", new SelectList(Enumerable.Empty<SelectListItem>(), "IDENTIFICADORFRANJA", "HORAINICIOFRANJA"), "---Hora de Fin---", new { id = "HORAFINFRANJA" })
    </div>

