@using System.Web.UI.WebControls
@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.CURSO>
@{

    ViewBag.Title = "Cursos";
    WebGrid grid = new WebGrid(Model);
}
<div>
    <h2>Cursos</h2>

    @using (Html.BeginForm())
    {
        <fieldset style="margin-bottom: 3%;">
            <legend style="font-size: 16px;">Busqueda</legend>
            <div style="display: block; font-size: 14px;" class="row">
                <div style="float: left; margin-left: 5%;">
                </div>
                <div style="float: right; margin-right: 10%;">
                    Campo: @Html.DropDownList("idCurso", ViewBag.campoBusqueda as SelectList) 
                    <label>Buscar:</label> @Html.TextBox("nombreCurso")
                    <input type="submit" value="Buscar" />
                </div>
            </div>
        </fieldset>
    }
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                @grid.GetHtml(
                    tableStyle: "table table-striped  table-bordered table-hover",
                    fillEmptyRows: false,
                    footerStyle: "paginacion",
                    headerStyle: "theader",
                    mode: WebGridPagerModes.All,
                    columns: new[]
                    {

                        grid.Column("NOMBRECURSO",header:"Nombre"),
                        grid.Column("NombreAsignatura",header:"Asignatura"),
                        grid.Column("NombreDocente",header:"Docente"),
                        grid.Column("ESTADOCURSO",header:"Estado"),
                        grid.Column("",header:"Opciones",
                            format: @<text>
                            @if (Context.User.IsInRole("Cursos"))
                            {
                                @Html.ActionLink("Editar", "ModificarCurso", new { idCurso = item.IDENTIFICADORCURSO }) <text>|</text>
                            }
                            @Html.ActionLink("Visualizar", "VisualizarCurso", new { idCurso = item.IDENTIFICADORCURSO })
                            @if (Context.User.IsInRole("Administrador"))
                            {
                                <text>|</text>
                                @Html.ActionLink("Eliminar", "EliminarCurso", new { idCurso = item.IDENTIFICADORCURSO }, new { onclick = "return confirmarEliminarCurso();" })
                            }
                            </text>
                            )
                    })
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Agregar", "RegistrarCurso")
        @Html.ActionLink("Cargar desde Archivo", "CargarArchivo")
        <h3> @ViewBag.Resultado </h3>
    </p>
</div>



