@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.ASIGNATURA>
@{

    ViewBag.Title = "Asignaturas";
    WebGrid grid = new WebGrid(Model);
}
<div>
    <h2>Asignaturas</h2>

    @using (Html.BeginForm())
    {
        <p>
            Palabra busqueda : @Html.TextBox("palabraBusqueda")
            <input type="submit" value="Buscar" />

        </p>
    }

    @grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {

            grid.Column("CODIGOASIGNATURA",header:"Codigo"),
            grid.Column("NOMBREASIGNATURA",header:"Nombre"),
            grid.Column("SEMESTREASIGNATURA",header:"Semestre"),
            grid.Column("CREDITOSASIGNATURA",header:"Creditos"),
            grid.Column("",header:"Opciones",
                format: @<text>
                @Html.ActionLink("Editar", "ModificarAsignatura", new { idAsignatura = item.IDENTIFICADORASIGNATURA }) |
                @Html.ActionLink("Visualizar", "VisualizarAsignatura", new { idAsignatura = item.IDENTIFICADORASIGNATURA }) |
                @Html.ActionLink("Eliminar", "EliminarAsignatura", new { idAsignatura = item.IDENTIFICADORASIGNATURA })
                </text>
                )
        })
    <p>
        @Html.ActionLink("Agregar", "RegistrarAsignatura")
        @Html.ActionLink("Cargar desde Archivo", "CargarArchivo")
        <h3> @TempData["UpSession"] </h3>
        <h3> @ViewBag.Resultado </h3>
    </p>
</div>



