@using SIFIET.GestionUsuarios.Datos.Modelo
@model IEnumerable<SIFIET.GestionUsuarios.Datos.Modelo.ROL>

@{

    ViewBag.Title = "Roles";
    var grid = new WebGrid(Model);
}
<h2>Roles</h2>
<div>
    @using (Html.BeginForm(null,null,FormMethod.Get))
    {
        <fieldset>
            <legend>Buscar</legend>
            <div style="display: block; font-size: 16px;">
                <div style="float: left; margin-left: 5%">
                    @Html.RadioButton("estado", "Activo", true)<label>  Activos   </label>
                    @Html.RadioButton("estado", "Inactivo")<label>  Inactivos  </label>
                </div>
                <div style="float: right; margin-right: 5%;">
                    <label>  Campo a Buscar:  </label><select name="criterio">
                                                          <option value="nombre">Nombre</option>
                                                      </select>
                    <label> Dato a Buscar:</label>
                    <input name="valorbusqueda" type="text" value="" />
                    <input type="submit" value="Buscar" />
                </div>

            </div>
        </fieldset>
        @grid.GetHtml(
            fillEmptyRows: true,
            mode: WebGridPagerModes.All,
            columns: new[]
            {

                grid.Column("NOMBREROL", header: "Nombre"),
                grid.Column("DESCRIPCIONROL", header: "Descipcion"),
                grid.Column("ESTADOROL", header: "Estado"),
                grid.Column("", header: "Opciones",
                    format: @<text>
                                 @Html.ActionLink("Editar", "ModificarRol", new {idRol = item.IDENTIFICADORROL}) |
                                 @Html.ActionLink("Visualizar", "VisualizarRol", new {idRol = item.IDENTIFICADORROL}) |
                                 <!--@Html.ActionLink("Eliminar", "ConfirmarEliminarRol", new {idRol = item.IDENTIFICADORROL}, new {onclick = "return confirm('¿El Rol Cambiara de Estado, confirma que desea eliminar el rol?')"})-->
                             </text>
                    )
            })
    }
    @if (!string.IsNullOrEmpty(ViewBag.Mensaje) && ViewBag.Mensaje.Equals("Ningun Rol Encontrado"))
    {
        <script> mensajeNoRoles(); </script>
    }
    <p>
        @TempData["Mensaje"]
    </p>
    <div>
        <h3>
            @Html.ActionLink("Agregar", "RegistrarRol")
        </h3>
    </div>

</div>