@using System.Activities.Statements
@using SIFIET.GestionUsuarios.Datos.Modelo
@model SIFIET.GestionUsuarios.Datos.Modelo.USUARIO





@{
    ViewBag.Title = "Editar Usuario";
}
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div>

        @ViewBag.Mensaje
    </div>
}

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <fieldset>
            <legend>Editar Usuario</legend>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.IDENTIFICADORUSUARIO)
            @Html.HiddenFor(model => model.IDENTIFICACIONUSUARIO)
            @Html.HiddenFor(model => model.PASSWORDUSUARIO)


            <div>
                Nombres:
                <div>
                    @Html.EditorFor(model => model.NOMBRESUSUARIO)
                    @Html.ValidationMessageFor(model => model.NOMBRESUSUARIO)
                </div>
                
            </div>
            <div>
                Apellidos:
                <div>
                    @Html.EditorFor(model => model.APELLIDOSUSUARIO)
                    @Html.ValidationMessageFor(model => model.APELLIDOSUSUARIO)
                </div>
                
            </div>

            <div>
                Rol:
                <div>
                    <select name="roles" multiple="true">
                        
                        @if (ViewBag.rolesasignados != null)
                        {
                            List<ROL> listaRols = ViewBag.rolesasignados;
                            foreach (var rol in ViewBag.roles)
                            {
                                if (listaRols.Count==0)
                                {
                                    <option value="@rol.IDENTIFICADORROL">@rol.NOMBREROL</option>
                                }
                                else
                                {
                                    if (rol.IDENTIFICADORROL == listaRols.ElementAt(0).IDENTIFICADORROL)
                                    {
                                        <option value="@rol.IDENTIFICADORROL" selected>@rol.NOMBREROL</option>
                                        listaRols.RemoveAt(0);
                                    }
                                    else
                                    {
                                        <option value="@rol.IDENTIFICADORROL">@rol.NOMBREROL</option>

                                    }
                                }
                            }
                            
                        }
                        else
                        {
                            foreach (var rol in ViewBag.roles)
                            {
                                <option value="@rol.IDENTIFICADORROL">@rol.NOMBREROL</option>

                            }
                        }

                    </select>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorRol))
                    {
                        

                            @ViewBag.ErrorRol
                        
                    } 
                </div>
                
            </div>
            <div>
                Identificacion:
                <div>
                    <input type="text" id="identificacion" name="identificacion" value="@Model.IDENTIFICACIONUSUARIO" />
                </div>   
                @if(!string.IsNullOrEmpty(ViewBag.ErrorIdUsuario))
                {
                   

                        @ViewBag.ErrorIdUsuario
                   
                }
            </div>
            
            <div>
                E-Mail:
                <div>
                    @Html.EditorFor(model => model.EMAILINSTITUCIONALUSUARIO) @@unicauca.edu.co 
                    @Html.ValidationMessageFor(model => model.EMAILINSTITUCIONALUSUARIO)
                </div>
                
            </div>
            
                <div>
                    Estado :
                    <div>
                        Activo @Html.RadioButtonFor(model => model.ESTADOUSUARIO, "Activo")
                        Inactivo @Html.RadioButtonFor(model => model.ESTADOUSUARIO, "Inactivo", true)
                        @Html.ValidationMessageFor(model => model.ESTADOUSUARIO)
                    </div>
                </div>
            
            

            <div>
                <div>
                    <input type="button" value="Cancelar" onclick="return confirmSalirUsuario();" />
                </div>
                <div>
                    <input type="submit" value="Editar" onclick="return confirmacionEditarUsuario();" />
                </div>
                
            </div>
        </fieldset>

    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
