@Html.Partial("nav_bar_contenidos")
@model IEnumerable<SIFIET.GestionContenidos.Datos.Modelo.BLOQUE>
@{
    ViewBag.Title = "Gestionar Bloques";
}

<h2>Gestionar Bloques</h2>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("RegistrarBloques", "Bloques"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Gestionar Bloques</legend>

            <table>
                <tr>
                    <td>
                        Bloque 1:
                        @if (Model.ElementAt(0).CATEGORIA.NOMBRECATEGORIA == "") { 
                            @Html.DropDownList("bloque1", "Escoja una Categoria")
                        }
                        else { 
                            @Html.DropDownList("bloque1", @Model.ElementAt(0).CATEGORIA.NOMBRECATEGORIA)
                        }
                        
                    </td>
                    <td>
                        Bloque 2:
                        @if (Model.ElementAt(0).CATEGORIA.NOMBRECATEGORIA == "")
                        {
                            @Html.DropDownList("bloque2", "Escoja una Categoria")
                        }
                        else
                        {
                            @Html.DropDownList("bloque2", @Model.ElementAt(1).CATEGORIA.NOMBRECATEGORIA)
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Bloque 3:
                        @if (Model.ElementAt(2).CATEGORIA.NOMBRECATEGORIA == "")
                        {
                            @Html.DropDownList("bloque3", "Escoja una Categoria")
                        }
                        else
                        {
                            @Html.DropDownList("bloque3", @Model.ElementAt(2).CATEGORIA.NOMBRECATEGORIA)
                        }
                    </td>
                    <td>
                        Bloque 4:
                        @if (Model.ElementAt(3).CATEGORIA.NOMBRECATEGORIA == "")
                        {
                            @Html.DropDownList("bloque4", "Escoja una Categoria")
                        }
                        else
                        {
                            @Html.DropDownList("bloque4", @Model.ElementAt(3).CATEGORIA.NOMBRECATEGORIA)
                        }
                    </td>
                </tr>

            </table>
        <div>
            <p>
                <a href="/Contenidos/index" onclick="return confirm('Confirma que desea cancelar la accion')">Cancelar</a>
                <input type="submit" value="Guardar" onclick="return comfirmacionAsignarCategoriasBloques()" />
            </p>
        </div>
    </fieldset>
}
<h3> @ViewBag.ResultadoOperacion </h3>
