@model SIFIET.GestionProgramas.Datos.Modelo.GRUPO_INVESTIGACION

@{
    ViewBag.Title = "Eliminar Grupo  De Investigacion";
}

<h2>Eliminar</h2>

<h3>Está seguro de eliminar este grupo de investigación?</h3>

<div>
    <h4>GRUPO DE INVESTIGACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGOGRUPOINVESTIGACION)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREGRUPOINVESTIGACION)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONGRUPOINVESTIGACION)
        </dd>

        <dt>
            Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO.NOMBREDEPARTAMENTO)
        </dd>

        <dt>
            Director
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCENTE.NombreCompletoDocente)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Eliminar" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
