@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.GRUPO_INVESTIGACION>

@{

    ViewBag.Title = "Grupos de Investigacion";
    WebGrid grid = new WebGrid(Model);
}
<div>
    <h2>Grupos de Investigacion</h2>

    @if (!string.IsNullOrEmpty(ViewBag.Mensaje) && ViewBag.Mensaje.Equals("No se han encontrado registros con el dato indicado, por favor intentelo de nuevo"))
    {
        <script> mensajeNoUsuarios(); </script>
    }

    @using (Html.BeginForm("Index", "GruposInvestigacion"))
    {
        <fieldset style="margin-bottom: 3%;">
            <legend style="font-size: 16px;">Busqueda</legend>
            <div style="display: block; font-size: 14px;" class="row">
                <div style="float: left; margin-left: 5%;">
                    <label>  Activos</label>@Html.RadioButton("estado", "Activo", true)
                    <label>  Inactivos</label> @Html.RadioButton("estado", "Inactivo")
                </div>
                <div style="float: right; margin-right: 10%;">
                    <label> Filtro:  </label>
                    @Html.DropDownList("filtroBusquedaGInvestigacion", ViewBag.filtroBusqueda as SelectList) 
                    <label>Buscar: </label>
                    @Html.TextBox("valorbusqueda")
                    <input type="submit" value="Buscar" />
                </div>
            </div>
        </fieldset>
    }
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                @grid.GetHtml(
                    tableStyle: "table table-striped  table-bordered table-hover",
                    fillEmptyRows: false,
                    footerStyle: "paginacion",
                    headerStyle: "theader",
                    mode: WebGridPagerModes.All,
                    columns: new[]
                    {
                        grid.Column("CODIGOGRUPOINVESTIGACION",header:"Codigo"),
                        grid.Column("NOMBREGRUPOINVESTIGACION",header:"Nombre"),
                        grid.Column("DESCRIPCIONGRUPOINVESTIGACION",header:"Descripcion"),

                        grid.Column("",header:"Opciones",
                            format: @<text>
                            @if (Context.User.IsInRole("Grupos de Investigacion"))
                            {
                                @Html.ActionLink("Editar", "ModificarGrupoInvestigacion", new { idGinvestigacion = item.IDENTIFICADORGRUPOINVES }) <text>|</text>
                            }
                            @Html.ActionLink("Detalles", "VisualizarGrupoInvestigacion", new { idGinvestigacion = item.IDENTIFICADORGRUPOINVES })
                            @if (Context.User.IsInRole("Administrador"))
                            {
                                <text>|</text>
                                @Html.ActionLink("Eliminar", "EliminarGrupoInvestigacion", new { idGinvestigacion = item.IDENTIFICADORGRUPOINVES }, new { onclick = "return confirm('Comfirma que desea eliminar el grupo de investigación?')" })
                            }
                            </text>
                        )
                    })
            </div>
        </div>
    </div>

    <div>@TempData["Mensaje"]</div>


    <p>
        @Html.ActionLink("Registrar Grupo de Investigacion", "RegistrarGrupoInvestigacion")
    </p>
</div>

