@model SIFIET.GestionProgramas.Datos.Modelo.GRUPO_INVESTIGACION

@{
    ViewBag.Title = "Modificar Grupo Investigacion";
}

@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div>

        @ViewBag.Mensaje
    </div>
}



<div>

    @using (Html.BeginForm("ModificarGrupoInvestigacion", "GruposInvestigacion", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <fieldset>
            <legend>Modificar Grupo de Investigacion</legend>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.IDENTIFICADORGRUPOINVES)
            @*@Html.HiddenFor(model => model.CODIGOGRUPOINVESTIGACION)
            @Html.HiddenFor(model => model.NOMBREGRUPOINVESTIGACION)*@
            @Html.HiddenFor(model => model.ESTADOGRUPOINVESTIGACION)

            <div>
                Codigo:
                <div>
                    @Html.EditorFor(model => model.CODIGOGRUPOINVESTIGACION)
                    @Html.ValidationMessageFor(model => model.CODIGOGRUPOINVESTIGACION)
                </div>

            </div>
            <div>
                Nombre:
                <div>
                    @Html.EditorFor(model => model.NOMBREGRUPOINVESTIGACION)
                    @Html.ValidationMessageFor(model => model.NOMBREGRUPOINVESTIGACION)
                </div>

            </div>
            <div>
                Descripcion:
                <div>
                    @Html.TextAreaFor(model => model.DESCRIPCIONGRUPOINVESTIGACION)  
                    @Html.ValidationMessageFor(model => model.DESCRIPCIONGRUPOINVESTIGACION)
                </div>

            </div>

            <div>
                Departamento:
                <div>
                    <select name="departamento">
                        @if (ViewBag.DepartamentoRegistrado != null)
                        {
                            SIFIET.GestionProgramas.Datos.Modelo.DEPARTAMENTO deptoRegistrado = ViewBag.DepartamentoRegistrado;
                            foreach (var depto in ViewBag.lstDepartamentos)
                            {
                                if (depto.IDENTIFICADORDEPARTAMENTO == deptoRegistrado.IDENTIFICADORDEPARTAMENTO)
                                {
                                    <option value="@depto.IDENTIFICADORDEPARTAMENTO" selected>@depto.NOMBREDEPARTAMENTO</option>
                                }
                                else
                                {
                                    <option value="@depto.IDENTIFICADORDEPARTAMENTO">@depto.NOMBREDEPARTAMENTO</option>

                                }
                            }
                        }
                        @*else
                        {
                            foreach (var depto in ViewBag.lstDepartamentos)
                            {
                                <option value="@depto.IDENTIFICADORDEPARTAMENTO">@depto.NOMBREDEPARTAMENTO</option>

                            }
                        }*@
                    </select>                        
                </div>
            </div>
            <div>
                Director:
                <div>
                    <select name="docente">
                        @if (ViewBag.DocenteRegistrado != null)
                        {
                            SIFIET.GestionProgramas.Datos.Modelo.DOCENTE docenteRegistrado = ViewBag.DocenteRegistrado;
                            foreach (var docente in ViewBag.lstDocentes)
                            {
                                if (docente.IDENTIFICADORUSUARIO == docenteRegistrado.IDENTIFICADORUSUARIO)
                                {
                                    <option value="@docente.IDENTIFICADORUSUARIO" selected>@docente.NombreCompletoDocente</option>
                                }
                                else
                                {
                                    <option value="@docente.IDENTIFICADORUSUARIO">@docente.NombreCompletoDocente</option>

                                }
                            }
                        }
                        @*else
                        {
                            foreach (var docente in ViewBag.lstDocentes)
                            {
                                <option value="@docente.IDENTIFICADORUSUARIO">@docente.NombreCompletoDocente</option>

                            }
                        }*@
                    </select>                    
                </div>

            </div>


            <div>
                <div>
                    <input type="submit" value="Editar" onclick="return confirmacionAgregarGrupo();" />
                </div>
                <div>
                    <input type="button" value="Cancelar" onclick="return confirmSalirGInvestigacion();" />
                </div>
            </div>
        </fieldset>

    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
