@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.PROGRAMA>

@{
    ViewBag.Title = "Gestionar Programas Académicos";
    WebGrid grid = new WebGrid(Model);
}

<h2>Gestionar Programas Académicos</h2>
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <fieldset>
        <legend>Buscar Programa</legend>
        @if (ViewBag.estado == "Activo")
        {
            <input type="radio" name="estado" value="Activo" checked="checked" /> <label>Activos</label>
            <input type="radio" name="estado" value="Inactivo"> <label>Inactivos</label>
        }
        else
        {
            <input type="radio" name="estado" value="Activo"> <label>Activos</label>
            <input type="radio" name="estado" value="Inactivo" checked="checked" /> <label>Inactivos</label>
        }

        Campo a buscar:
        <select id="campo" name="campo">
            @if (ViewBag.campo == "Codigo")
            {
                <option>Nombre</option>
                <option selected="selected">Codigo</option>

            }
            else
            {
                <option>Nombre</option>
                <option>Codigo</option>
            }

        </select>
        Ingrese el dato a buscar
        <input type="text" name="busqueda" value="@ViewBag.busqueda" />
        <input type="submit" value="Buscar" />
    </fieldset>
}
<br />

<h3>@ViewBag.ResultadoBusqueda</h3>


@grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {

            grid.Column("NOMBREPROGRAMA",header:"Nombre"),
            grid.Column("DURACIONPROGRAMA",header:"Duración"),
            grid.Column("FACULTAD.NOMBREFACULTAD",header:"Facultad"),
            grid.Column("MODALIDADPROGRAMA",header:"Modalidad"),
            grid.Column("CODIGOSNIESPROGRAMA",header:"Codigo SNIES"),
            grid.Column("",header:"Opciones",
                format: @<text>
                @Html.ActionLink("Editar", "EditarProgramaAcademico", new { idPrograma = item.IDENTIFICADORPROGRAMA })
                @Html.ActionLink("Eliminar", "EliminarProgramaAcademico", new { idPrograma = item.IDENTIFICADORPROGRAMA }, new { onclick = "return confirmarEliminarPrograma()" })    
                @Html.ActionLink("Visualizar", "VisualizarProgramaAcademico", new { idPrograma = item.IDENTIFICADORPROGRAMA })
               
                </text>
                )
        })

<p>
    @Html.ActionLink("Agregar", "RegistrarProgramaAcademico")
    @Html.ActionLink("Cargar desde Archivo", "CargarArchivo")
    <h3> @TempData["UpSession"] </h3>
</p>

<h3> @ViewBag.ResultadoOperacion </h3>

