@using SIFIET.Presentacion.Controllers
@model IEnumerable<SIFIET.GestionContenidos.Datos.Modelo.BLOQUE>
@{
    ViewBag.Title = "Home Page";
}
<div>
    @using (Html.BeginForm("BuscarContenido", "Home", FormMethod.Get))
    {
        <p>
            Buscar: @Html.TextBox("nombreContenido")
            <input type="submit" value="Buscar" />
        </p>
    }
</div>
<h2>@ViewBag.Message</h2>
<div class="row" id="contenidosHome">
    @foreach (var item in Model)
    {
        int col = Decimal.ToInt32((decimal)item.ANCHOBLOQUE);
        int contenidosAcargar = Decimal.ToInt32((decimal)item.OFFSETBLOQUE);
        int contadorContenidos = 0;
        int posicionx = Decimal.ToInt32((decimal)item.POSICIONXBLOQUE);
        int posiciony = Decimal.ToInt32((decimal)item.POSICIONYBLOQUE);
        <div class="col-md-@col" @*style="position: absolute; right: @(posicionx)px; top: @(posiciony)px; "*@>
            <div class="nombre-categoria">
                @Html.ActionLink(item.CATEGORIA.NOMBRECATEGORIA, "DetallarCategoria", new { idCategoriaIn = item.IDENTIFICADORCATEGORIA })
            </div>
            <div>
                <ul>
                    @if (item.CATEGORIA.CONTENIDOes != null && item.CATEGORIA.CONTENIDOes.Any())
                    {
                        foreach (var contenido in item.CATEGORIA.CONTENIDOes)
                        {
                            DateTime fecha = DateTime.ParseExact(contenido.FECHACREACIONCONTENIDO, "dd-MM-yyyy", null);
                            <li>
                                <div class="fecha-contenido">
                                    @fecha.ToString("D")
                                </div>
                                <div class="descripcion-contenido divider">
                                    @Html.ActionLink((string)contenido.TITULOCONTENIDO,
                                        "VisualizarContenido", "Home", new { idContenidoIn = contenido.IDENTIFICADORCONTENIDO }, null))
                                </div>
                            </li>
                            contadorContenidos++;
                            if (contadorContenidos == contenidosAcargar)
                            {
                                break;
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        
    }

</div>