@Html.Partial("nav_bar_contenidos")
@model IEnumerable<SIFIET.GestionContenidos.Datos.Modelo.CONTENIDO>
@{

    ViewBag.Title = "Contenidos";
    WebGrid grid = new WebGrid(Model);
}
<div>
    <h2>Contenidos</h2>
    @if (!String.IsNullOrEmpty(ViewBag.ResultadoBusqueda) && ViewBag.ResultadoBusqueda.Equals("ListaVacia"))
    {
        <script> mensajeNoUsuarios(); </script>
    }

    @using (Html.BeginForm(null, null, FormMethod.Get))
    {<fieldset style="margin-bottom: 3%;">
        <legend style="font-size: 16px;">Busqueda</legend>
        <div style="display: block; font-size: 14px;" class="row">
            <div style="float: left; margin-left: 5%;">
                <label>  Activos</label>@Html.RadioButton("estado", "Activo", true)
                <label>  Inactivos</label>@Html.RadioButton("estado", "Inactivo")
            </div>
            <div style="float: right; margin-right: 10%;">
                <label> Filtro:  </label>
                @Html.DropDownList("idContenido", ViewBag.campoBusqueda as SelectList)
                Palabra a Buscar: @Html.TextBox("nombreContenido")
                <input type="submit" value="Buscar" />
            </div>
        </div>
    </fieldset>
    }
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                @grid.GetHtml(
                    tableStyle: "table table-striped  table-bordered table-hover",
                    fillEmptyRows: false,
                    footerStyle: "paginacion",
                    headerStyle: "theader",
                    mode: WebGridPagerModes.All,
                    columns: new[]
                    {grid.Column("FECHACREACIONCONTENIDO",header:"Fecha Creacion"),
                        grid.Column("TITULOCONTENIDO",header:"Titulo"),
                        grid.Column("DESCRIPCIONCONTENIDO",header:"Descripcion"),
                        grid.Column("",header:"Opciones",
                            format: @<text>
                            @if (Context.User.IsInRole("Contenido"))
                            {
                                @Html.ActionLink("Editar", "ModificarContenido", new { idContenido = item.IDENTIFICADORCONTENIDO }) <text>|</text>
                            }
                            @Html.ActionLink("Visualizar", "VisualizarContenido", new { idContenido = item.IDENTIFICADORCONTENIDO })
                            @if (Context.User.IsInRole("Administrador"))
                            {
                                <text>|</text>
                                @Html.ActionLink("Eliminar", "EliminarContenido", "Contenidos", new { idContenido = item.IDENTIFICADORCONTENIDO }, new { onclick = "return confirmarEliminarContenido()" })
                            }
                            </text>
                            )
                    })
            </div>
        </div>
    </div>
    <div>
        @using (Html.BeginForm("RegistrarContenido", "Contenidos", FormMethod.Get))
        {
            <p>
                @Html.DropDownList("nomCategoria", ViewBag.ListaCategorias as SelectList)
                <input type="submit" value="Agregar" />
            </p>
        }
        <h3> @TempData["UpSession"] </h3>
        <h3> @ViewBag.Resultado </h3>
    </div>
</div>

