
@model SIFIET.GestionContenidos.Datos.Modelo.CONTENIDO

@{
    ViewBag.Title = "ModificarContenido";
}

<h2>Modificar Contenido</h2>
<link href="~/Content/themes/base/multi-select.css" media="screen" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("ModificarContenido", "Contenidos"))
{
    @Html.AntiForgeryToken()

    <div>
        <h4>CONTENIDO</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div>
            Titulo
            <div>
                @Html.EditorFor(model => model.TITULOCONTENIDO)
                @Html.ValidationMessageFor(model => model.TITULOCONTENIDO)
            </div>
        </div>

        <div>
            Descripcion
            <div>
                @Html.TextAreaFor(model => model.DESCRIPCIONCONTENIDO)
                @Html.ValidationMessageFor(model => model.DESCRIPCIONCONTENIDO)
            </div>
        </div>
        <div>
            Cuerpo
            <div>
                @Html.TextAreaFor(model => model.CUERPOCONTENIDO)
                @Html.ValidationMessageFor(model => model.CUERPOCONTENIDO)
            </div>
        </div>             

        <div>
            Prioridad
            <div>
                @Html.EditorFor(model => model.PRIORIDADCONTENIDO)
                @Html.ValidationMessageFor(model => model.PRIORIDADCONTENIDO)
            </div>
        </div>
        <div>
            Estado :
            <div>
                Activo @Html.RadioButtonFor(model => model.ESTADOCONTENIDO, "Activo")
                Inactivo @Html.RadioButtonFor(model => model.ESTADOCONTENIDO, "Inactivo")
                @Html.ValidationMessageFor(model => model.ESTADOCONTENIDO)
            </div>
        </div>        
            @Html.HiddenFor(model => model.operacion, new { @Value = "Modificacion" })   
            @Html.HiddenFor(model => model.IDENTIFICADORCONTENIDO)         
            @Html.HiddenFor(model => model.IDENTIFICADORCATEGORIA)
            @Html.HiddenFor(model => model.IDENTIFICADORUSUARIO)
            @Html.HiddenFor(model => model.FECHACREACIONCONTENIDO)        
    </div>
    foreach (var item in ViewBag.ListaAtributos)
    {
        <table>
            <tr>
                <td>
                    <label>@item.NOMBREATRIBUTO</label>
                </td>
            </tr>
            @if (((string)@item.TIPOATRIBUTO).Equals("texto"))
            {
                <tr>
                    <td>
                        <input type="text" name="@item.NOMBREATRIBUTO" value="@item.dato" />
                    </td>
                </tr>
            }
            @if (((string)@item.TIPOATRIBUTO).Equals("imagen"))
            {
                <tr>
                    <td>
                        <input type="file" name="@item.NOMBREATRIBUTO" value="@item.dato" />
                    </td>
                </tr>
            }
            @if (((string)@item.TIPOATRIBUTO).Equals("fecha"))
            {
                <tr>
                    <td>
                        <input type="date" name="@item.NOMBREATRIBUTO" value="@item.dato" />
                    </td>
                </tr>
            }
        </table>

    }
    <div>
        Etiquetas :
        <div>
            @Html.ListBox("ListaEtiquetas", ViewBag.ListaEtiquetas as MultiSelectList, new { multiple = "multiple" })
        </div>
    </div>

    <div>
        <input type="submit" value="Guardar" onclick="return confirmacionAgregarContenido();" />
        <input type="submit" value="Cancelar" onclick="return confirmSalirContenido();" /> 
    </div>

}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.multi-select.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.quicksearch.js"></script>
<script>cargarMultiselectDocumentEtiquetas();</script>


