@using System.Web.UI.WebControls
@model IEnumerable<SIFIET.GestionInfraestructura.Datos.Modelo.SALON>
@{

    ViewBag.Title = "Salones";
    WebGrid grid = new WebGrid(Model);
}
<div>
    <h2>Salones</h2>
    @if (!String.IsNullOrEmpty(ViewBag.ResultadoBusqueda) && ViewBag.ResultadoBusqueda.Equals("ListaVacia"))
    {
        <script> mensajeNoUsuarios(); </script>
    }
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <p>
            Activos @Html.RadioButton("estado", "Activo", true) Inactivos @Html.RadioButton("estado", "Inactivo") Campo: @Html.DropDownList("idSalon", ViewBag.campoBusqueda as SelectList) Palabra a Buscar: @Html.TextBox("nombreSalon")
            <input type="submit" value="Buscar" />

        </p>
    }

    @grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {

            grid.Column("NOMBRESALON",header:"Nombre"),
            grid.Column("NombreFacultad",header:"Facultad"),
            grid.Column("",header:"Opciones",
                format: @<text>
                @if (Context.User.IsInRole("Salon"))
                {            
                @Html.ActionLink("Editar", "ModificarSalon", new { idSalon = item.IDENTIFICADORSALON })<text>|</text>
                }
                @Html.ActionLink("Visualizar", "VisualizarSalon", new { idSalon = item.IDENTIFICADORSALON })
                @if (Context.User.IsInRole("Administrador"))
                {
                <text>|</text>
                @Html.ActionLink("Eliminar", "EliminarSalon", new { idSalon = item.IDENTIFICADORSALON }, new { onclick = "return confirmarEliminarSalon()" })
                }
                </text>
                )
        })
    <p>
        @Html.ActionLink("Agregar", "RegistrarSalon")
        @Html.ActionLink("Cargar desde Archivo", "CargarArchivo")
        <h3> @TempData["UpSession"] </h3>
        <h3> @ViewBag.Resultado </h3>
    </p>
</div>



