@model IEnumerable<SIFIET.GestionProgramas.Datos.Modelo.ASIGNATURA>
@{

    ViewBag.Title = "Asignaturas";
    WebGrid grid = new WebGrid(Model);
}
<div>
    <h2>Asignaturas</h2>
    @if (!String.IsNullOrEmpty(ViewBag.ResultadoBusqueda) && ViewBag.ResultadoBusqueda.Equals("ListaVacia"))
    {
        <script> mensajeNoUsuarios(); </script>
    }

    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <fieldset style="margin-bottom: 3%;">
            <legend style="font-size: 16px;">Busqueda</legend>
            <div style="display: block; font-size: 14px;" class="row">
                <div style="float: left; margin-left: 5%;">
                    <label>  Activos</label>@Html.RadioButton("estado", "Activo", true)
                    <label>  Inactivos</label>@Html.RadioButton("estado", "Inactivo")
                </div>
                <div style="float: right; margin-right: 10%;">
                    <label>  Filtro: </label>
                    @Html.DropDownList("idAsignatura", ViewBag.campoBusqueda as SelectList) 
                    <label>Buscar: </label> @Html.TextBox("nombreAsignatura")
                    <input type="submit" value="Buscar" />
                </div>
            </div>
        </fieldset>
    }
    <div class="row">
        <div class="col-md-11">
            <div class="table-responsive">
                @grid.GetHtml(
                    tableStyle: "table table-striped  table-bordered table-hover",
                    fillEmptyRows: false,
                    footerStyle: "paginacion",
                    headerStyle: "theader",
                    mode: WebGridPagerModes.All,
                    columns: new[]
                    {grid.Column("CODIGOASIGNATURA",header:"Codigo"),
                        grid.Column("NOMBREASIGNATURA",header:"Nombre"),
                        grid.Column("CREDITOSASIGNATURA",header:"Creditos"),
                        grid.Column("",header:"Opciones",
                            format: @<text>
                            @if (Context.User.IsInRole("Asignaturas"))
                            {
                                @Html.ActionLink("Editar", "ModificarAsignatura", new { idAsignatura = item.IDENTIFICADORASIGNATURA }) <text>|</text>
                            }
                            @Html.ActionLink("Visualizar", "VisualizarAsignatura", new { idAsignatura = item.IDENTIFICADORASIGNATURA })
                            @if (Context.User.IsInRole("Administrador"))
                            {
                                <text>|</text>
                                @Html.ActionLink("Eliminar", "EliminarAsignatura", "Asignaturas", new { idAsignatura = item.IDENTIFICADORASIGNATURA }, new { onclick = "return confirmarEliminarAsignatura()" })
                            }
                            </text>
                            )
                    })
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Agregar", "RegistrarAsignatura")
        @Html.ActionLink("Cargar desde Archivo", "CargarArchivo")
        <h3> @TempData["UpSession"] </h3>
        <h3> @ViewBag.Resultado </h3>
    </p>
</div>



