<div>
    <ul>
        <li style="display: inline; list-style-type: none;"  class="first"><a href="#">Contenidos</a></li>
        <li style="display: inline; list-style-type: none;" ><a href="/Categorias">Categorias</a></li>
        <li style="display: inline; list-style-type: none;"><a href="/Etiquetas">Etiquetas</a></li>
    </ul>
</div>
@model IEnumerable<SIFIET.GestionContenidos.Datos.Modelo.CATEGORIA>

@{
    ViewBag.Title = "Categorias";
    WebGrid grid = new WebGrid(Model);
}

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <fieldset>
        <legend>Buscar Categoria</legend>
        Busqueda por nombre:

        <input type="text" name="busqueda" value="@ViewBag.busqueda" />
        <input type="submit" value="Buscar" />
    </fieldset>
}
<br />
@grid.GetHtml(
        fillEmptyRows: true,
        mode: WebGridPagerModes.All,
        columns: new[]
        {

            grid.Column("NOMBRECATEGORIA",header:"Nombre"),
            grid.Column("DESCRIPCIONCATEGORIA",header:"Descripción"),
            @grid.Column("",header:"Opciones",
                format: @<text>
                @Html.ActionLink("Editar", "ModificarCategoria", new { idCategoria = item.IDENTIFICADORCATEGORIA }) |                
                @Html.ActionLink("Eliminar", "EliminarCategoria", new { idCategoria = item.IDENTIFICADORCATEGORIA }, new { onclick = "return confirmarEliminarCategoria()" }) |
                @Html.ActionLink("Visualizar", "VisualizarCategoria", new { idCategoria = item.IDENTIFICADORCATEGORIA })
                </text>
                )
        })

<p>
    @Html.ActionLink("Agregar", "RegistrarCategoria")
</p>
<h3> @ViewBag.ResultadoOperacion </h3>
